@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');




nav {
    background-color: black;
    color: white
}

nav ul {
    display:inline-block
}

nav.section-activa a, .seccion-activa a:visited {
    color: rgb(224, 164, 51);
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

header {
    width: 80%;
    text-align: center;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    padding: 100px 0px;
  
}
header h1, h2 {
    font-weight: 100;
}

aside {
    background-color: rgb(170, 167, 170);
    width: 20%;
    float: right;
   
}
aside img {
    width: 90%;
    margin: 5px 5%;
    border-radius: 50%;
}

.facebook {
    width: 7%;
   
}

.twitter {
    width: 10%;
   
}


main {
    width: 80%;
    float: left;
    
}

.favoritos {
    margin: auto 5%;
    width: 40%;
    padding-top: 30px;
    float: right;
  
}


.horario {
    margin: auto 5%;
    width: 40%;
    float: left;
}

#comida > ul.thunderbolt > li:nth-child(1):hover {
    margin-top: 10px;  
    list-style: "🥐";
    list-style-position: outside;
  }
#comida > ul.thunderbolt > li:nth-child(2):hover {
    margin-top: 10px;  
    list-style: "🥪";
    list-style-position: outside;
  }

#pelicula > ul.thunderbolt > li:nth-child(1):hover {
    margin-top: 10px;  
    list-style: "🎞";
    list-style-position: outside;
  }
#pelicula > ul.thunderbolt > li:nth-child(2):hover {
    margin-top: 10px;  
    list-style: "📽";
    list-style-position: outside;
  }

#canciones > ul.thunderbolt > li:nth-child(1):hover {
    margin-top: 10px;  
    list-style: "🎻";
    list-style-position: outside;
  }
#canciones > ul.thunderbolt > li:nth-child(2):hover {
    margin-top: 10px;  
    list-style: "🎼";
    list-style-position: outside;
  }

#animales > ul.thunderbolt > li:nth-child(1):hover {
    margin-top: 10px;  
    list-style: "🐶";
    list-style-position: outside;
  }
#animales > ul.thunderbolt > li:nth-child(2):hover {
    margin-top: 10px;  
    list-style: "🐼";
    list-style-position: outside;
  }
  
tr:nth-child(even) {
    background-color: turquoise;
}

tr:nth-child(odd) {
    background-color: rgb(224, 64, 157);
}


th, tr td:first-child {
    background-color: black;
    color: white;
    font-weight: bold;
}



  
.video {
    clear: both;
    margin-left: 35%;
}


footer {
    height: 50px;
    background-color: black;
    clear: both;
    
}


footer a {
    color:white
}

footer a:visited {
    color:rgb(163, 142, 25)
}

.required {
    border: 1px solid red;
}


   

